header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
}

header .header-left {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .header-left .search-bar {
  width: 70%;
  margin-left: 1rem;
}

header .header-left .search-bar input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

header .header-right {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-right .header-profile-picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-right .header-profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.user-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  top: 100%;
  background-color: red;
  border-radius: 8px;
}

header .header-right .logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.logout-btn:hover {
  background-color: transparent;
  color: #24946b;
}
